package pages

import "townwatch/services/payment/paymentmodels"
import "townwatch/services/payment/paymenttemplates"
import "github.com/stripe/stripe-go/v76"

templ WalletPage(customer *paymentmodels.Customer, subsc *stripe.Subscription, prices  map[paymentmodels.Tier]*stripe.Price) {
	<h1>
		Tiers
	</h1>
	<p>
		tiers you can asd
	</p>
	// ================
	for tier, price := range prices {
		@paymenttemplates.WalletTier(customer, subsc, tier, price, prices)
	}
}
